.navbar {
    background-color: black;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar {
    background-color: #18092c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logo {
    height: 40px;
}

.links {
    display: flex;
    gap: 16px;

    @media (max-width: 715px) {
        display: none;
    }
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    transition: text-decoration 0.3s;

    &:hover {
        color: rgb(217, 225, 233);
        text-decoration: underline;
    }
}

.menuButton {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

.menu {
    .menuItem {
        text-decoration: none;
        color: #333;
        font-size: 16px;

        &:hover {
            color: #007bff;
        }
    }
}

.btn {
    margin-right: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}
