.main {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px 0;
    text-align: center;
    font-size: 45px;
    color: #18092c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    max-width: 1030px;
}

.textBlock {
    background-color: #18092c;
    color: #ffffff;
    font-weight: 600;
    padding: 30px;
    margin: 20px 0;
}

.cardsContainer {
    max-width: 70vw;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
        max-width: 90vw;
        grid-template-columns: 1fr;
    }
}
