.app {
    height: 100%;
    width: 100%;
    background: rgb(199, 196, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px 0;
    text-align: center;
    font-size: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
