.slider {
    width: 90vw;
}

.slide {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
